<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeWalker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CodeWalker.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="GTAFolder" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\SteamApps\common\Grand Theft Auto V</value>
            </setting>
            <setting name="CompiledScriptFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DecompiledScriptFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GTAExeDumpFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtractedTexturesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtractedRawFilesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtractedShadersFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Wireframe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skydome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimedEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCollisionMeshes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollisionMeshRange" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DynamicLOD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetailDist" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MarkerStyle" serializeAs="String">
                <value>Glokon Marker</value>
            </setting>
            <setting name="LocatorStyle" serializeAs="String">
                <value>Glokon Debug</value>
            </setting>
            <setting name="MarkerDepthClip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoundsStyle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="BoundsDepthClip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoundsRange" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShowErrorConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadowCascades" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Grass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WaitForChildren" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CacheSize" serializeAs="String">
                <value>2147483648</value>
            </setting>
            <setting name="CacheTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GPUGeometryCacheSize" serializeAs="String">
                <value>536870912</value>
            </setting>
            <setting name="GPUTextureCacheSize" serializeAs="String">
                <value>1073741824</value>
            </setting>
            <setting name="GPUBoundCompCacheSize" serializeAs="String">
                <value>134217728</value>
            </setting>
            <setting name="GPUCacheTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GPUCacheFlushTime" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CameraSmoothing" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CameraSensitivity" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="CameraFieldOfView" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RenderMode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="RenderTextureSampler" serializeAs="String">
                <value>DiffuseSampler</value>
            </setting>
            <setting name="RenderTextureSamplerCoord" serializeAs="String">
                <value>Texture coord 1</value>
            </setting>
            <setting name="ExcludeFolders" serializeAs="String">
                <value>Installers;_CommonRedist</value>
            </setting>
            <setting name="AnisotropicFiltering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HDR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DLC" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyBindings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Move Forwards: W</string>
                        <string>Move Backwards: S</string>
                        <string>Move Left: A</string>
                        <string>Move Right: D</string>
                        <string>Move Up: R</string>
                        <string>Move Down: F</string>
                        <string>Move Slower / Zoom In: Z</string>
                        <string>Move Faster / Zoom Out: X</string>
                        <string>Toggle Mouse Select: C</string>
                        <string>Toggle Toolbar: T</string>
                        <string>Exit Edit Mode: Q</string>
                        <string>Edit Position: W</string>
                        <string>Edit Rotation: E</string>
                        <string>Edit Scale: R</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="XInputLThumbInvert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XInputRThumbInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XInputLThumbSensitivity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XInputRThumbSensitivity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XInputZoomSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="XInputMoveSpeed" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MouseInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberGTAFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectWindowTheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ExplorerWindowTheme" serializeAs="String">
                <value>Windows</value>
            </setting>
        </CodeWalker.Properties.Settings>
    </userSettings>
</configuration>